In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression, SGDRegressor, HuberRegressor, Lars, RANSACRegressor
from sklearn.metrics import mean_squared_error

pd.set_option("display.max_columns", None)
%matplotlib inline
rs=1219

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
train = pd.read_csv("../input/regressionproblem/data.csv")
test = pd.read_csv("../input/regressionproblem/test.csv")

In [3]:
train.drop(['x1', 'x2', 'x3', 'x4', 'x5', 'x9'], axis=1, inplace=True)
X, y = train.iloc[:,1:-1], train.iloc[:,-1]

test.drop(['x1', 'x2', 'x3', 'x4', 'x5', 'x9'], axis=1, inplace=True)
kaggle_test = test.iloc[:, 1:]

In [4]:
sgdr_params = {'loss': 'huber',
               'penalty': 'l1',
               'alpha': 0.00025262140858848636,
               'l1_ratio': 0.456027083558146,
               'max_iter': 999,
               'tol': 0.0002553392247069451,
               'epsilon': 0.08735355655286767,
               'random_state': rs}

huber_params = {'epsilon': 1.9997748237897144,
                'alpha': 0.00041436627045792114,
                'max_iter': 221,
                'tol': 0.000757667687008929}

# with ols
rsnsa_params = {'min_samples': 5,
                'residual_threshold': 0.8400987630435907,
                'max_trials': 88,
                'stop_probability': 0.9408683129008064,
                'loss': 'squared_error',
                'random_state': rs}

# With lars
rsnsa_2_params = {'min_samples': 215,
                  'residual_threshold': 0.07606989731943292,
                  'max_trials': 239,
                  'stop_probability': 0.9514754498763995,
                  'loss': 'squared_error'}

In [5]:
preds_5 = SGDRegressor(**sgdr_params).fit(X, y).predict(kaggle_test)
preds_6 = HuberRegressor(**huber_params).fit(X, y).predict(kaggle_test)
preds_7 = RANSACRegressor(estimator=LinearRegression(), **rsnsa_params).fit(X, y).predict(kaggle_test)
preds_8 = RANSACRegressor(estimator=Lars(), **rsnsa_2_params).fit(X, y).predict(kaggle_test)

In [6]:
submission_5 = pd.DataFrame({'id': test.id, 'y': preds_5})
submission_5.to_csv('submission_5.csv', index=False)

In [7]:
submission_5

         id           y
0     10410   92.255160
1       718 -225.251655
2      5931  151.947340
3      4083  -90.633955
4       210  -44.478947
...     ...         ...
2995   5513 -119.519605
2996  12429  110.401730
2997   6164 -186.516889
2998   8702  -42.588200
2999   7577  -23.047117

[3000 rows x 2 columns]

In [8]:
submission_6 = pd.DataFrame({'id': test.id, 'y': preds_6})
submission_6.to_csv('submission_6.csv', index=False)

In [9]:
submission_6

         id           y
0     10410   92.254664
1       718 -225.251322
2      5931  151.950546
3      4083  -90.633698
4       210  -44.480845
...     ...         ...
2995   5513 -119.519845
2996  12429  110.401977
2997   6164 -186.515889
2998   8702  -42.588879
2999   7577  -23.047365

[3000 rows x 2 columns]

In [10]:
submission_7 = pd.DataFrame({'id': test.id, 'y': preds_7})
submission_7.to_csv('submission_7.csv', index=False)

In [11]:
submission_7

         id           y
0     10410   92.265183
1       718 -225.260018
2      5931  151.925127
3      4083  -90.634372
4       210  -44.455224
...     ...         ...
2995   5513 -119.507791
2996  12429  110.404776
2997   6164 -186.527689
2998   8702  -42.581296
2999   7577  -23.039420

[3000 rows x 2 columns]

In [12]:
submission_8 = pd.DataFrame({'id': test.id, 'y': preds_8})
submission_8.to_csv('submission_8.csv', index=False)

In [13]:
submission_8

         id           y
0     10410   92.255032
1       718 -225.244733
2      5931  151.953128
3      4083  -90.630045
4       210  -44.479927
...     ...         ...
2995   5513 -119.515850
2996  12429  110.402085
2997   6164 -186.508409
2998   8702  -42.585474
2999   7577  -23.044448

[3000 rows x 2 columns]